body {
	background-color: ##f7fadc;
	font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: content-box;
}
h1 {
	text-align: center;
	font-size: 1.4em;
	font-weight: ;
}
section.pic {
	text-align: center;
}
section.pic >div>a>img {
	border-radius: 50%;
}
section.pic span{
	font-weight: bold;
}

section ul {
	list-style: none;
	margin: auto;
	text-align: center;

}
section.select a:link, a:visited{
	color : #326891;
	background-color: transparent;
	text-decoration: none;
}
section.select a:hover, a:active{
	color: #FFDC00;
	background-color: #111;
}

section.select a{
 	font-family: sans-serif;
 	display: inline-block;
 	text-align: center;
 	text-indent: none;
 	font-weight: bold;
	background-color: transparent;
	width: 9em;
	margin: auto;
	border: 2px solid #111;
	padding: 18px 0;
	letter-spacing: 0.4px;
	line-height: 1;
	text-transform: uppercase;
	position: relative;
	border-radius: 10px; 
	margin-bottom: 1px;
	-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    
}
